@import "./../../assets/styles/abstracts";

.open-info{
    margin-bottom: 60px ;
    margin-top: 112px;
    .open-info-content{
        h2{
           font-size: $fontSizeOpenData;
        }
        p{
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: $defaultSize;
            width: 568px;
        }
    }
   
}